{
  "presets": ["@babel/preset-react", "@babel/preset-env"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-export-default-from",
    ["import", { "libraryName": "antd", "style": true }, "antd"],
    ["import", { "libraryName": "@qt/web-core", "camel2DashComponentName": false }, "@qt/web-core"],
    ["import", { "libraryName": "@qt/react", "camel2DashComponentName": false }, "@qt/react"],
    "lodash",
    "dva-hmr",
  ],
  "comments": false
}