// media start
@small-smartphones: ~'only screen and (max-width: 359px)';
@medium-smartphones: ~'only screen and (min-width: 360px) and (max-width: 399px)';
@large-smartphones: ~'only screen and (min-width: 400px) and (max-width: 599px)';
@tablets: ~'only screen and (min-width: 600px) and (max-width: 959px)';
@desktops: ~'only screen and (min-width: 960px)';
