@import '../styles/mixins';

.xms-page {
  width: 100%;
  background: #FFFFFF;
  padding: 0 3rem;
  box-shadow:0rem 0.1rem 0.8rem 0rem rgba(212,215,218,0.51);
  border-radius:0.45rem;

  .xms-page-loading {
    .flex-container();
    .flex-container-align-all-center();
  }
}