@import '../styles/mixins';

.xms-page {
  .ant-table-pagination {
    &.ant-pagination {
      .flex-row-container();

      justify-content: flex-end;
      float: unset;
    }
  }

  .filters-table {
    .ant-table-placeholder {
      display: none;
    }

    .ant-table-body {
      table {
        border: none;

        .ant-table-thead tr {
          .flex-row-container();

          flex-wrap: wrap;
          th {
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
            background: #fff;
            box-shadow: none;
            border: 1px solid #d9d9d9;
            border-radius: 4px;
            padding-top: 10px;
            padding-bottom: 10px;
          }
        }
      }
    }
  }

  .filter-group-name {
    width: 100px;
    font-weight: bold;
    text-align: right;
    line-height: 200%;
    padding-right: 0.5rem;
  }

  .actions {
    margin-bottom: 20px;

    .action-button,
    .ant-btn {
      margin: 10px;
    }
  }

  td .actions {
    margin-bottom: 0;
  }

  .content-card {
    border-radius: 0.6rem;
    margin-top: 1.5rem;

    &:first-child {
      margin-top: 0;
    }

    &.inline {
      border: none;

      .ant-card-body {
        padding: 0;
      }
    }

    .filter-row {
      margin-bottom: 10px;

      .filter-title {
        font-size: 14px;
      }
    }
  }

  .record-form-page-form {
    max-width: 1200px;
  }
}
