@import '../styles/mixins';

.xms-records-page-content-header{
  .flex-row-container();
  .flex-container-align-items-center();

  justify-content: space-between;
  margin-bottom: 1.2rem;
}

.actions > * {
  margin: 0 0.6rem;
}

.ant-table .ant-table-content .ant-table-body .ant-table-thead .ant-table-column-sort {
  .ant-table-column-sorter {
    .ant-table-column-sorter-up, .ant-table-column-sorter-down {
      display: none;
    }
  }

  &.asc .ant-table-column-sorter .ant-table-column-sorter-up {
    display: inline;
  }

  &.desc .ant-table-column-sorter .ant-table-column-sorter-down {
    display: inline;
  }
}