@import '../styles/mixins';

.xms-records-page-content-header{
  .flex-row-container();
  .flex-container-align-items-center();

  justify-content: space-between;
  margin-bottom: 1.2rem;
}

.action-button {
  margin: 0 0.6rem;
}