.xms-side-menu {
  position: relative;

  &.collapsed {
    width: 20px;
  }

  .xms-collapse {
    position: absolute;
    right: 0;
    top: -20px;

    svg {
      width: 15px;
      height: 15px;
    }
  }

  .xms-menu {
    overflow: hidden;
  }
}
