.action {
  margin-bottom: 10px;
  margin-right: 10px;
}

.zoom-img-activator {
  width: 200px;
}

.zoom-img {
  width: calc(100vh - 300px);
  height: calc(100vh - 300px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
