@import './styles/mixins';

.xms-layout {
  &-header {
    height: 5.05rem;
    line-height: 5.05rem;
    background: #6760FA;
  }

  &-content {
    padding: 0 50px;
    &-loading {
      .flex-container;
      .flex-container-align-all-center;
    }
  }

  &-footer {
    text-align: center;
  }
}
