@import './styles/mixins';
@import './styles/colors';
@import './styles/variables';

html,
body {
  .font-regular();

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 20px;
  position: relative;
  word-break: break-all;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  @media @small-smartphones {
    font-size: 17px;
  }

  @media @medium-smartphones {
    font-size: 20px;
  }

  @media @large-smartphones {
    font-size: 22px;
  }

  @media @tablets {
    font-size: 30px;
  }

  @media @desktops {
    font-size: 30px;
  }

  #root {
    width: 100%;
    height: 100%;
    position: relative;

    .watermark-wrapper {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;

      .watermark {
        .flex-row-container();

        position: absolute;
        left: -50%;
        top: -50%;
        width: 200%;
        height: 200%;
        transform: rotate(45deg);
        transform-origin: center;
      }
    }

    .xms-layout {
      min-height: 100vh;
      position: relative;

      .xms-sider {
        overflow: auto;
        height: 100vh;
        position: fixed;
        left: 0;

        .logo {
          width: 100%;
          padding: 10px;
          margin-bottom: 15px;

          &::after {
            .background-contain-center-no-repeat();

            width: 100%;
            height: 40px;
            display: block;
            content: '';
            background-image: url('./assets/ic-logo.png');
          }
        }
      }

      .xms-site-layout {
        margin-left: 200px;
        transition: all 0.2s;

        &.collapsed {
          margin-left: 80px;
        }

        .xms-site-layout-heder {
          .flex-row-container();
          .flex-container-align-items-center();

          background: #fff;

          .trigger {
            font-size: 18px;
            padding: 0 24px;
            cursor: pointer;
            transition: color 0.3s;

            &:hover {
              color: #1890ff;
            }
          }

          .site-name {
            margin-left: 20px;
          }
        }

        .xms-content {
          margin: 0 16px;
          padding: 24px;

          .ant-breadcrumb {
            margin-bottom: 20px;
          }

          .dynamic-loading {
            .flex-row-container();
            .flex-container-align-all-center();
          }

          .xms-page {
            .xms-page-loading {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
